@import "../../../assets/sass/app";

[data-group=categories_list] [data-role=item] {
	padding: 26px;
    border: 1px dotted #000000;
    display: block;
    color: #000000;
    margin: 0px 18px;
    font-size: 17px;
}

[data-group=categories_list] [data-role=item]:hover {
	text-decoration: none;
}

[data-group=categories_list] [data-role=item_image] {
	padding: 12px;
}

[data-group=categories_list] [data-role=item_image] img {
	width: 100%;
	max-width: 90px;
}