@import "variables";
@import "bootstrap-grid";

@import "common-styles";
@import "../../templates/widgets/pages-header/style";

body {
	font-family: 'Nunito', sans-serif;
	/* background-color: #3f4550; */
	/* background-color: #d6dbe4; */
	background-color: #1d232d;
}

p, li, td, th {
	font-size: 17px;
	line-height: 25px;
	color: #000;
}

.content_wrapper .editormd-html-preview table thead tr {
	background-color: #edf0f3;
}

.content_wrapper .editormd-html-preview table thead tr th {
	font-size: 15px;
}

.content_wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

[data-group=page_content][data-role=wrapper] {
	background: #fafcff;
    border-right: 5px solid #7e828a;
    border-bottom: 5px solid #7e828a;
	padding: 22px;
	margin-top: 16px;
	margin-left: 16px;
}

[data-group=sidebar_content][data-role=wrapper] {
	background: #fafcff;
    border-right: 5px solid #7e828a;
    border-bottom: 5px solid #7e828a;
	padding: 22px;
	margin-top: 16px;
}

[data-group=sidebar_content][data-role=wrapper] ul {
	margin-left: 0px;
	padding-left: 18px;
}

[data-group=sidebar_content][data-role=wrapper] ul li {
	margin-top: 24px;
	line-height: 22px;
}

[data-group=sidebar_content][data-role=wrapper] ul li a{
	color: #000;
	font-size: 16px;

}

h1 {
	border-bottom: 1px dotted;
	font-size: 26px;
}

.editormd-html-preview, .editormd-preview-container {
	background-color: transparent !important;
}

[data-group=breadcrumbs][data-role=wrapper] {
	/* background: #babfcc; */
	/* background: #b9beca; */
	padding: 14px 22px;
	margin-top: 16px;
	line-height: 24px;
	/* border: 5px solid #999fa9; */
    border-left: 0px;
    border-top: 0px;
    color: #e8f0f7;
}
[data-group=breadcrumbs][data-role=wrapper] svg {
	height: 24px;
	width: auto;
}
[data-group=breadcrumbs][data-role=wrapper] svg path {
	fill:#e8f0f7;
}
[data-group=breadcrumbs][data-role=wrapper] [data-role=divider] {
	margin-left: 8px;
	margin-right: 8px;
}







[data-group=page_content] .editormd-html-preview ol.linenums li, .editormd-preview-container ol.linenums li {
	list-style: none;
}